{% extends 'store/layout.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-top: 150px; margin-bottom: 50px;">
	<div class="row">
		<div class="col-lg-12" style=" width: 100vw;">
			<div class="box-element">
                <!-- added next line col-10 me-auto mb-4   * col-8 * col-4-->
                <div class="row">
                <div class="col-md-4 " >
                    <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

                    <br>
                    <br>
                    <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
                </div>
                <div class="col-md-4"  style="margin-top: 20px;">
                    <h5>Total:<strong> ${{order.get_cart_total|floatformat:2}}</strong></h5>
                </div>
                <div class="col-md-4 " style="margin-top: 20px;">
                    <a  class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                </div>
            </div>
				

			</div>

			<br>
			<div class="box-element cart-table">
			
				<div class="class_header cart-row">
					<div style="flex:2"></div>
					<div style="flex:1"><strong>Item</strong></div>
					<div style="flex:1"><strong>Size</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for item in items %}
				<div class="cart-row">
                        <!-- item image-->
                        <div style="flex:2" ><img class="row-image" src="{{item.product.imageURL}}">
                        </div>
						<!-- item name (Item) -->
                        <div style="flex:1" ><p>{{item.product.name}} </p></div>
                        <!-- item size -->
						<div style="flex:1" ><p><p class="size_display">size:</p>{{item.size}} </p></div>
						<!-- item price -->
					    <div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
						<!-- item quantity -->
						<div style="flex:1">
							<p class="qty quantity">{{item.quantity}}</p>
							<div class="quantity flota">
								<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
						
								<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
							</div>
						</div>
						<!-- item total cost -->
					    <div style="flex:1" class="qty"><p>${{item.get_total}}</p></div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}