{% extends 'store/layout.html' %}
{% load static %}
{% block content %}

<style> 


.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.product{
	border-radius: 0 0 4px 4px;
}



#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}


.cart-row, .mobila{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
} 

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

@media (max-width: 768px) {
       .cart-row{
        display: flex;
        align-items: center;
        justify-content: center;
       }
        .cart-row p{
            font-size: 12px;
        }
       
        .mobile-view{
            display: none;
        }
        
        .box-element{
            width: 100%;
        }
        .qty{
            display: none;
        }
        .flota{
            float: right;
        }
}
</style>

<div class="container" style="margin-top: 150px; margin-bottom: 50px;">
	<div class="row">
		<div class="col-lg-12" style=" width: 100vw;">
			<div class="box-element">
                <!-- added next line col-10 me-auto mb-4   * col-8 * col-4-->
                <div class="row">
                <div class="col-md-4 " >
                    <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

                    <br>
                    <br>
                    <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
                </div>
                <div class="col-md-4"  style="margin-top: 20px;">
                    <h5>Total:<strong> ${{order.get_cart_total|floatformat:2}}</strong></h5>
                </div>
                <div class="col-md-4 " style="margin-top: 20px;">
                    <a  class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                </div>
            </div>
				

			</div>

			<br>
			<div class="box-element">
			
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:1"><strong>Item</strong></div>
					<div style="flex:1"><strong>Size</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for item in items %}
				<div class="cart-row">
                        <!-- item image-->
                        <div style="flex:2" ><img class="row-image" src="{{item.product.imageURL}}">
                        </div>
						<!-- item name (Item) -->
                        <div style="flex:1" ><p>{{item.product.name}} </p></div>
                        <!-- item size -->
						<div style="flex:1" ><p>{{item.size}} </p></div>
						<!-- item price -->
					    <div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
						<!-- item quantity -->
						<div style="flex:1">
							<p class="qty quantity">{{item.quantity}}</p>
							<div class="quantity flota">
								<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
						
								<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
							</div>
						</div>
						<!-- item total cost -->
					    <div style="flex:1" class="qty"><p>${{item.get_total}}</p></div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}