{% extends 'store/layout.html' %}
{% load static %}

{% block title %}
   Sura Stitches- Product Detail {{product.id}}
{% endblock %}

{% block content %}
<header class="site-header section-padding d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12">
                <h1>
                    <span class="d-block text-primary">We provide you</span>
                    <span class="d-block text-dark">Fashionable Stuffs</span>
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="product-detail section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="product-thumb">
                    <img src="{{product.imageURL}}" class="img-fluid product-image" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="product-info d-flex">
                    <div>
                        <h2 class="product-title mb-0">{{product.name}}</h2>

                        <p class="product-p">Original package design from house</p>
                    </div>

                    <small class="product-price text-muted ms-auto mt-auto mb-5">&#8358;{{ product.price }}</small>
                </div>

                <div class="product-description">

                    <strong class="d-block mt-4 mb-2">Description</strong>

                    <p class="lead mb-5">{{product.description}}</p>
                </div>
                <form id="addToCartForm">
                    <div class="product-cart-thumb row">
                        
                        <div class="col-lg-6 col-12">
                            
                            <select class="form-select cart-form-select" id="inputGroupSelect01">
                                <option selected>Pick a size</option>
                                <option value="10">10</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                            </select>
                        
                            
                        </div>

                        <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                            <button type="submit" data-product={{product.id}} data-action="addToCart" class="btn custom-btn cart-btn" id="addToCarter">Add to Cart</button>

                        </div>
                    
                        <p>
                            <a href="#" class="product-additional-link">Details</a>

                            <a href="#" class="product-additional-link">Delivery and Payment</a>
                        </p>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<script>
    // Prevent form submission 
    var form = document.getElementById('addToCartForm')
		form.addEventListener('submit', function(event){
          event.preventDefault()
		  console.log('product added to cart')
		})

       
    
    // Add event listener to 'addTocarter' button (fetch product-id,) and extract chosen size
    var addProductToCart = document.getElementById('addToCarter');

    addProductToCart.addEventListener('click', function(){
        var productId = this.dataset.product;
        var action = this.dataset.action;
        var size = document.getElementById("inputGroupSelect01").value

        console.log('productId:', productId, 'action:', action, 'size:', size)
        
       if (user == 'AnonymousUser'){
         addToCartCookie(productId, action, size)
       }
       else{
        addToUserCart(productId, size)
       }
    })

    // Update cart (add item to it, plus its size or increase the quantity of item if already there by one )
    function addToCartCookie(productId, action, size){
        console.log('Not logged in....')
        if (action == "addToCart"){
         
           
            if (cart[productId] == undefined){
                cart[productId] = {'quantity': 1}
                cart[productId]['size'] = size
               
            }else{
                cart[productId]['quantity'] += 1
            }
            console.log(size)
        }
        console.log('Cart ', cart)
        document.cookie = 'cart='+ JSON.stringify(cart) + ";domain=;path=/"
        location.reload()
    }

    // route te JSON data to the backend through the url - 'intialAddToCart'
    function addToUserCart(productId, size){
        console.log('user is logged in, send am some data');
        
        var url = '/intialAddToCart/'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'productId': productId,  'size': size})
        })
        .then((response) =>{
            return response.json()
        })
        .then((data) =>{
            console.log('data:', data)
           location.reload()
        })
    }
    
    
    
</script>


  
{% endblock %}

